In [3]:
import pandas as pd
import numpy as np
import statsmodels as sm

In [20]:
fire_data = pd.read_csv("./data/merged_full.csv")
fire_data.head()

,OBJECTID,YEAR_,STATE,AGENCY,UNIT_ID,FIRE_NAME,INC_NUM,ALARM_DATE,CONT_DATE,CAUSE,...,month,distance,index_right,COUNTY_NAM,COUNTY_ABB,COUNTY_NUM,COUNTY_COD,COUNTY_FIP,ISLAND,GlobalID
0,34595,2012.0,CA,CCO,KRN,LAVAL,1216604.0,2012-06-03,2012-06-03,14.0,...,6,0.000216,14.0,Kern,KER,15.0,15.0,29.0,NaN,55f8678b-d6c9-40c4-b9a0-c3e73d2714a5
1,34602,2012.0,CA,CCO,KRN,SAND,1222306.0,2012-07-17,2012-07-17,14.0,...,7,0.000000,14.0,Kern,KER,15.0,15.0,29.0,NaN,55f8678b-d6c9-40c4-b9a0-c3e73d2714a5
2,34604,2012.0,CA,CCO,KRN,SOUTH,1223744.0,2012-07-29,2012-08-01,14.0,...,7,0.000000,14.0,Kern,KER,15.0,15.0,29.0,NaN,55f8678b-d6c9-40c4-b9a0-c3e73d2714a5
3,38813,2011.0,CA,CDF,AEU,GROOVY,27965.0,2011-12-01,2011-12-01,5.0,...,12,0.002170,8.0,El Dorado,ELD,9.0,9.0,17.0,NaN,8c7709f7-3e81-4245-85d6-3fbc6ebd7261
4,38817,2011.0,CA,USF,ANF,MINT,4967.0,2011-09-17,2011-09-19,9.0,...,9,0.000000,18.0,Los Angeles,LOS,19.0,19.0,37.0,NaN,3b1e1d69-2b1a-464d-ba43-611c4201b219

In [6]:
fire_data.columns

Index(['Unnamed: 0', 'year_x', 'date', 'statefips', 'countyfips', 'ctfips',
       'latitude', 'longitude', 'ds_pm_pred', 'ds_pm_stdd', 'date_parsed',
       'month_x', 'geometry_x', 'nearest_wildfire_idx', 'OBJECTID', 'YEAR_',
       'STATE', 'AGENCY', 'UNIT_ID', 'FIRE_NAME', 'INC_NUM', 'ALARM_DATE',
       'CONT_DATE', 'CAUSE', 'C_METHOD', 'OBJECTIVE', 'GIS_ACRES', 'COMMENTS',
       'COMPLEX_NAME', 'COMPLEX_INCNUM', 'IRWINID', 'FIRE_NUM', 'DECADES',
       'Shape__Area', 'Shape__Length', 'COMPLEX_NA', 'COMPLEX_IN',
       'geometry_y', 'latitude_left', 'longitude_left', 'index_right',
       'latitude_right', 'longitude_right', 'acq_date', 'satellite',
       'instrument', 'frp', 'type', 'bright_t31', 'confidence', 'year_y',
       'month_y', 'distance'],
      dtype='object')

In [14]:
fire_data["nearest_wildfire_idx"].unique()

array([       nan, 1.0200e+04, 1.0719e+04, 1.1440e+03, 5.7600e+02,
       8.0000e+00, 1.2116e+04, 1.4613e+04, 6.1200e+02, 4.6000e+03,
       1.5155e+04, 1.3750e+03, 5.3860e+03, 1.2900e+02, 1.0722e+04,
       1.1430e+03, 2.8000e+01, 5.7350e+03, 1.0840e+04, 1.1086e+04,
       1.4800e+02, 1.5109e+04, 1.1038e+04, 1.0199e+04, 1.0691e+04])

In [18]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import glm
from statsmodels.genmod.families import Gamma

data_clean = fire_data[['frp', 'bright_t31', 'GIS_ACRES', 'Shape__Area', 'Shape__Length', 'CAUSE', 'month_x', 'year_x', 'ds_pm_pred']]

train = data_clean.sample(frac=0.8, random_state=1)
test = data_clean.drop(train.index)

display(data_clean)
# formula = 'ds_pm_pred ~ frp + bright_t31 + GIS_ACRES + Shape__Area + Shape__Length + CAUSE + month_x + year_x'
# model = glm(formula=formula, data=train, family=Gamma(link=sm.families.links.log()))

# result = model.fit()

# # Printing the model summary
# print(result.summary())
# predictions = result.predict(test)

,frp,bright_t31,GIS_ACRES,Shape__Area,Shape__Length,CAUSE,month_x,year_x,ds_pm_pred
0,NaN,NaN,NaN,NaN,NaN,NaN,12,2011,8.143539
1,NaN,NaN,NaN,NaN,NaN,NaN,12,2011,8.116514
2,NaN,NaN,NaN,NaN,NaN,NaN,12,2011,8.083649
3,NaN,NaN,NaN,NaN,NaN,NaN,12,2011,8.180107
4,NaN,NaN,NaN,NaN,NaN,NaN,12,2011,8.125882
...,...,...,...,...,...,...,...,...,...
11746435,NaN,NaN,NaN,NaN,NaN,NaN,12,2011,15.105626
11746436,NaN,NaN,NaN,NaN,NaN,NaN,12,2011,13.452446
11746437,NaN,NaN,NaN,NaN,NaN,NaN,12,2011,13.761356
11746438,NaN,NaN,NaN,NaN,NaN,NaN,12,2011,12.725073
11746439,NaN,NaN,NaN,NaN,NaN,NaN,12,2011,8.983336

In [19]:
data_clean["frp"].unique()

array([nan])