In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd

First dataset for wildfires found here: https://catalog.data.gov/dataset/california-fire-perimeters-all-b3436

In [2]:
fire_data = pd.read_csv('./data/California_Fire_Perimeters_5422071188818403882.csv')
display(fire_data)

,OBJECTID,YEAR_,STATE,AGENCY,UNIT_ID,FIRE_NAME,INC_NUM,ALARM_DATE,CONT_DATE,CAUSE,...,OBJECTIVE,GIS_ACRES,COMMENTS,COMPLEX_NAME,COMPLEX_INCNUM,IRWINID,FIRE_NUM,DECADES,Shape__Area,Shape__Length
0,21440,2020.0,CA,CDF,NEU,NELSON,00013212,6/18/2020 12:00:00 AM,6/23/2020 12:00:00 AM,11.0,...,1.0,109.602300,NaN,NaN,NaN,NaN,NaN,2020.0,7.331347e+05,4179.743142
1,21441,2020.0,CA,CDF,NEU,AMORUSO,00011799,6/1/2020 12:00:00 AM,6/4/2020 12:00:00 AM,2.0,...,1.0,685.585000,NaN,NaN,NaN,NaN,NaN,2020.0,4.578172e+06,12399.375391
2,21442,2020.0,CA,CDF,NEU,ATHENS,00018493,8/10/2020 12:00:00 AM,8/11/2020 12:00:00 AM,14.0,...,1.0,27.300480,NaN,NaN,NaN,NaN,NaN,2020.0,1.823876e+05,2119.194120
3,21443,2020.0,CA,CDF,NEU,FLEMING,00007619,3/31/2020 12:00:00 AM,4/1/2020 12:00:00 AM,9.0,...,1.0,12.931550,NaN,NaN,NaN,NaN,NaN,2020.0,8.667945e+04,2029.524881
4,21444,2020.0,CA,CDF,NEU,MELANESE,00008471,4/14/2020 12:00:00 AM,4/19/2020 12:00:00 AM,18.0,...,1.0,10.315960,NaN,NaN,NaN,NaN,NaN,2020.0,7.017913e+04,1342.742903
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21921,43907,2022.0,CA,LRA,VNC,CHAMBERS,00023419,3/16/2022 12:00:00 AM,3/17/2022 12:00:00 AM,14.0,...,1.0,1.547286,NaN,NaN,NaN,B541FD2D-0474-47CF-AF6C-C4576E03A590,NaN,2020.0,9.217691e+03,537.691347
21922,43908,2022.0,CA,LRA,VNC,MOON,00073287,8/14/2022 12:00:00 AM,8/14/2022 12:00:00 AM,14.0,...,1.0,1.424808,NaN,NaN,NaN,EE538AD9-C557-40F2-9EDD-56C345B4E7FD,NaN,2020.0,8.444238e+03,452.799309
21923,43909,2022.0,CA,USF,SHF,TEXAS,00000953,9/9/2022 12:00:00 AM,9/10/2022 12:00:00 AM,14.0,...,1.0,12.912490,BA5FDCF1-23D0-43FD-8DA9-3FF21A5C0F81,NaN,NaN,BA5FDCF1-23D0-43FD-8DA9-3FF21A5C0F81,NaN,2020.0,8.985026e+04,2061.550880
21924,43910,2022.0,CA,USF,KNF,ALEX,00006290,7/31/2022 12:00:00 AM,8/3/2022 12:00:00 AM,14.0,...,1.0,150.403500,E9A30E52-C8E6-4AA5-B7D8-967923865340,NaN,NaN,E9A30E52-C8E6-4AA5-B7D8-967923865340,NaN,2020.0,1.100802e+06,6500.414625
21925,43911,2022.0,CA,CDF,TGU,TULARE,00008878,7/25/2022 12:00:00 AM,7/25/2022 12:00:00 AM,10.0,...,1.0,134.469800,NaN,NaN,NaN,0269DB87-31A2-4DDE-BAB4-74092225EF4E,NaN,2020.0,9.290376e+05,5645.738468

In [3]:
fire_location = gpd.read_file('./data/fire_shape_data/California_Fire_Perimeters_(all).shp')
fire_location

,YEAR_,STATE,AGENCY,UNIT_ID,FIRE_NAME,INC_NUM,ALARM_DATE,CONT_DATE,CAUSE,C_METHOD,OBJECTIVE,GIS_ACRES,COMMENTS,COMPLEX_NA,COMPLEX_IN,IRWINID,FIRE_NUM,DECADES,geometry
0,2020,CA,CDF,NEU,NELSON,00013212,2020-06-18,2020-06-23,11,1,1,109.60200,None,None,None,None,None,2020,"POLYGON ((-13508443.877 4705925.941, -13508437..."
1,2020,CA,CDF,NEU,AMORUSO,00011799,2020-06-01,2020-06-04,2,1,1,685.58500,None,None,None,None,None,2020,"POLYGON ((-13508927.937 4695976.336, -13508919..."
2,2020,CA,CDF,NEU,ATHENS,00018493,2020-08-10,2020-08-11,14,1,1,27.30050,None,None,None,None,None,2020,"POLYGON ((-13506766.482 4699576.903, -13506741..."
3,2020,CA,CDF,NEU,FLEMING,00007619,2020-03-31,2020-04-01,9,1,1,12.93150,None,None,None,None,None,2020,"POLYGON ((-13500068.676 4716384.732, -13500054..."
4,2020,CA,CDF,NEU,MELANESE,00008471,2020-04-14,2020-04-19,18,1,1,10.31600,None,None,None,None,None,2020,"POLYGON ((-13503128.528 4791692.607, -13503101..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21921,2022,CA,LRA,VNC,CHAMBERS,00023419,2022-03-16,2022-03-17,14,1,1,1.54729,None,None,None,B541FD2D-0474-47CF-AF6C-C4576E03A590,None,2020,"POLYGON ((-13237822.286 4081383.153, -13237822..."
21922,2022,CA,LRA,VNC,MOON,00073287,2022-08-14,2022-08-14,14,1,1,1.42481,None,None,None,EE538AD9-C557-40F2-9EDD-56C345B4E7FD,None,2020,"POLYGON ((-13241105.999 4051757.539, -13241098..."
21923,2022,CA,USF,SHF,TEXAS,00000953,2022-09-09,2022-09-10,14,6,1,12.91250,BA5FDCF1-23D0-43FD-8DA9-3FF21A5C0F81,None,None,BA5FDCF1-23D0-43FD-8DA9-3FF21A5C0F81,None,2020,"POLYGON ((-13703427.459 4905142.122, -13703465..."
21924,2022,CA,USF,KNF,ALEX,00006290,2022-07-31,2022-08-03,14,3,1,150.40400,E9A30E52-C8E6-4AA5-B7D8-967923865340,None,None,E9A30E52-C8E6-4AA5-B7D8-967923865340,None,2020,"MULTIPOLYGON (((-13687209.245 5152398.057, -13..."
21925,2022,CA,CDF,TGU,TULARE,00008878,2022-07-25,2022-07-25,10,4,1,134.47000,None,None,None,0269DB87-31A2-4DDE-BAB4-74092225EF4E,None,2020,"POLYGON ((-13630496.698 4869626.527, -13630472..."

In [4]:
print(len(fire_location["FIRE_NAME"]))
print(len(fire_location["FIRE_NAME"].unique()))
print(len(fire_data))

21926
9036
21926

In [5]:
merged_fire = pd.merge(fire_data, fire_location, left_index=True, right_index=True, suffixes=('', '_drop'))
merged_fire = merged_fire.filter(regex='^(?!.*_drop)')

print(merged_fire.columns)

Index(['OBJECTID', 'YEAR_', 'STATE', 'AGENCY', 'UNIT_ID', 'FIRE_NAME',
       'INC_NUM', 'ALARM_DATE', 'CONT_DATE', 'CAUSE', 'C_METHOD', 'OBJECTIVE',
       'GIS_ACRES', 'COMMENTS', 'COMPLEX_NAME', 'COMPLEX_INCNUM', 'IRWINID',
       'FIRE_NUM', 'DECADES', 'Shape__Area', 'Shape__Length', 'COMPLEX_NA',
       'COMPLEX_IN', 'geometry'],
      dtype='object')

In [6]:
merged_fire

,OBJECTID,YEAR_,STATE,AGENCY,UNIT_ID,FIRE_NAME,INC_NUM,ALARM_DATE,CONT_DATE,CAUSE,...,COMPLEX_NAME,COMPLEX_INCNUM,IRWINID,FIRE_NUM,DECADES,Shape__Area,Shape__Length,COMPLEX_NA,COMPLEX_IN,geometry
0,21440,2020.0,CA,CDF,NEU,NELSON,00013212,6/18/2020 12:00:00 AM,6/23/2020 12:00:00 AM,11.0,...,NaN,NaN,NaN,NaN,2020.0,7.331347e+05,4179.743142,None,None,"POLYGON ((-13508443.877 4705925.941, -13508437..."
1,21441,2020.0,CA,CDF,NEU,AMORUSO,00011799,6/1/2020 12:00:00 AM,6/4/2020 12:00:00 AM,2.0,...,NaN,NaN,NaN,NaN,2020.0,4.578172e+06,12399.375391,None,None,"POLYGON ((-13508927.937 4695976.336, -13508919..."
2,21442,2020.0,CA,CDF,NEU,ATHENS,00018493,8/10/2020 12:00:00 AM,8/11/2020 12:00:00 AM,14.0,...,NaN,NaN,NaN,NaN,2020.0,1.823876e+05,2119.194120,None,None,"POLYGON ((-13506766.482 4699576.903, -13506741..."
3,21443,2020.0,CA,CDF,NEU,FLEMING,00007619,3/31/2020 12:00:00 AM,4/1/2020 12:00:00 AM,9.0,...,NaN,NaN,NaN,NaN,2020.0,8.667945e+04,2029.524881,None,None,"POLYGON ((-13500068.676 4716384.732, -13500054..."
4,21444,2020.0,CA,CDF,NEU,MELANESE,00008471,4/14/2020 12:00:00 AM,4/19/2020 12:00:00 AM,18.0,...,NaN,NaN,NaN,NaN,2020.0,7.017913e+04,1342.742903,None,None,"POLYGON ((-13503128.528 4791692.607, -13503101..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21921,43907,2022.0,CA,LRA,VNC,CHAMBERS,00023419,3/16/2022 12:00:00 AM,3/17/2022 12:00:00 AM,14.0,...,NaN,NaN,B541FD2D-0474-47CF-AF6C-C4576E03A590,NaN,2020.0,9.217691e+03,537.691347,None,None,"POLYGON ((-13237822.286 4081383.153, -13237822..."
21922,43908,2022.0,CA,LRA,VNC,MOON,00073287,8/14/2022 12:00:00 AM,8/14/2022 12:00:00 AM,14.0,...,NaN,NaN,EE538AD9-C557-40F2-9EDD-56C345B4E7FD,NaN,2020.0,8.444238e+03,452.799309,None,None,"POLYGON ((-13241105.999 4051757.539, -13241098..."
21923,43909,2022.0,CA,USF,SHF,TEXAS,00000953,9/9/2022 12:00:00 AM,9/10/2022 12:00:00 AM,14.0,...,NaN,NaN,BA5FDCF1-23D0-43FD-8DA9-3FF21A5C0F81,NaN,2020.0,8.985026e+04,2061.550880,None,None,"POLYGON ((-13703427.459 4905142.122, -13703465..."
21924,43910,2022.0,CA,USF,KNF,ALEX,00006290,7/31/2022 12:00:00 AM,8/3/2022 12:00:00 AM,14.0,...,NaN,NaN,E9A30E52-C8E6-4AA5-B7D8-967923865340,NaN,2020.0,1.100802e+06,6500.414625,None,None,"MULTIPOLYGON (((-13687209.245 5152398.057, -13..."
21925,43911,2022.0,CA,CDF,TGU,TULARE,00008878,7/25/2022 12:00:00 AM,7/25/2022 12:00:00 AM,10.0,...,NaN,NaN,0269DB87-31A2-4DDE-BAB4-74092225EF4E,NaN,2020.0,9.290376e+05,5645.738468,None,None,"POLYGON ((-13630496.698 4869626.527, -13630472..."

In [7]:
merged_fire.columns

Index(['OBJECTID', 'YEAR_', 'STATE', 'AGENCY', 'UNIT_ID', 'FIRE_NAME',
       'INC_NUM', 'ALARM_DATE', 'CONT_DATE', 'CAUSE', 'C_METHOD', 'OBJECTIVE',
       'GIS_ACRES', 'COMMENTS', 'COMPLEX_NAME', 'COMPLEX_INCNUM', 'IRWINID',
       'FIRE_NUM', 'DECADES', 'Shape__Area', 'Shape__Length', 'COMPLEX_NA',
       'COMPLEX_IN', 'geometry'],
      dtype='object')

In [8]:
len(merged_fire["FIRE_NUM"].unique())

3173

Second dataset for wildfires is found here: https://www.kaggle.com/datasets/ananthu017/california-wildfire-incidents-20132020?select=California_Fire_Incidents.csv

In [9]:
second_fire = pd.read_csv("./data/California_Fire_Incidents.csv")
display(second_fire)

,AcresBurned,Active,AdminUnit,AirTankers,ArchiveYear,CalFireIncident,CanonicalUrl,ConditionStatement,ControlStatement,Counties,...,SearchKeywords,Started,Status,StructuresDamaged,StructuresDestroyed,StructuresEvacuated,StructuresThreatened,UniqueId,Updated,WaterTenders
0,257314.0,False,Stanislaus National Forest/Yosemite National Park,NaN,2013,True,/incidents/2013/8/17/rim-fire/,NaN,NaN,Tuolumne,...,"Rim Fire, Stanislaus National Forest, Yosemite...",2013-08-17T15:25:00Z,Finalized,NaN,NaN,NaN,NaN,5fb18d4d-213f-4d83-a179-daaf11939e78,2013-09-06T18:30:00Z,NaN
1,30274.0,False,USFS Angeles National Forest/Los Angeles Count...,NaN,2013,True,/incidents/2013/5/30/powerhouse-fire/,NaN,NaN,Los Angeles,...,"Powerhouse Fire, May 2013, June 2013, Angeles ...",2013-05-30T15:28:00Z,Finalized,NaN,NaN,NaN,NaN,bf37805e-1cc2-4208-9972-753e47874c87,2013-06-08T18:30:00Z,NaN
2,27531.0,False,CAL FIRE Riverside Unit / San Bernardino Natio...,NaN,2013,True,/incidents/2013/7/15/mountain-fire/,NaN,NaN,Riverside,...,"Mountain Fire, July 2013, Highway 243, Highway...",2013-07-15T13:43:00Z,Finalized,NaN,NaN,NaN,NaN,a3149fec-4d48-427c-8b2c-59e8b79d59db,2013-07-30T18:00:00Z,NaN
3,27440.0,False,Tahoe National Forest,NaN,2013,False,/incidents/2013/8/10/american-fire/,NaN,NaN,Placer,...,"American Fire, August 2013, Deadwood Ridge, Fo...",2013-08-10T16:30:00Z,Finalized,NaN,NaN,NaN,NaN,8213f5c7-34fa-403b-a4bc-da2ace6e6625,2013-08-30T08:00:00Z,NaN
4,24251.0,False,Ventura County Fire/CAL FIRE,NaN,2013,True,/incidents/2013/5/2/springs-fire/,Acreage has been reduced based upon more accur...,NaN,Ventura,...,"Springs Fire, May 2013, Highway 101, Camarillo...",2013-05-02T07:01:00Z,Finalized,6.0,10.0,NaN,NaN,46731fb8-3350-4920-bdf7-910ac0eb715c,2013-05-11T06:30:00Z,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1631,9.0,False,CAL FIRE / Riverside County Fire,NaN,2019,True,/incidents/2019/10/10/eagle-fire/,NaN,NaN,Riverside,...,NaN,2019-10-10T12:08:00Z,Finalized,NaN,NaN,NaN,NaN,6e93b252-99a3-4214-9921-238373b17535,2019-10-10T18:11:59.733Z,NaN
1632,2.0,False,CAL FIRE Nevada-Yuba-Placer Unit,NaN,2019,True,/incidents/2019/6/28/long-fire/,NaN,NaN,Nevada,...,NaN,2019-06-28T15:03:04Z,Finalized,NaN,NaN,NaN,NaN,b38c0563-b321-431b-9174-6336c5a0d449,2019-06-30T15:52:01.023Z,NaN
1633,NaN,False,Yolo County Fire Protection District,NaN,2019,False,/incidents/2019/11/25/cashe-fire/,NaN,NaN,Yolo,...,NaN,2019-11-25T12:02:02Z,Finalized,NaN,NaN,NaN,NaN,9c26f915-1b33-422d-b30a-9eb4da6fd729,2019-12-03T16:35:20.93Z,NaN
1634,NaN,False,Camp Pendleton Marine Corps Base,NaN,2019,False,/incidents/2019/10/22/oak-fire/,NaN,NaN,San Diego,...,NaN,2019-10-22T19:20:44Z,Finalized,NaN,NaN,NaN,NaN,7264a106-e0f4-41de-8fd0-3f9110431e28,2019-11-21T12:21:28.58Z,NaN
1635,NaN,False,Bureau of Indian Affairs,NaN,2019,False,/incidents/2019/10/14/johnson-fire/,"As of 10:00 p.m. on 10/16, the fire is 90% con...",NaN,Riverside,...,NaN,2019-10-14T15:32:20Z,Inactive,NaN,NaN,NaN,NaN,8bf75401-999f-42bd-8c0a-8db508591545,2019-10-30T10:14:19.58Z,NaN

In [10]:
second_fire.columns

Index(['AcresBurned', 'Active', 'AdminUnit', 'AirTankers', 'ArchiveYear',
       'CalFireIncident', 'CanonicalUrl', 'ConditionStatement',
       'ControlStatement', 'Counties', 'CountyIds', 'CrewsInvolved', 'Dozers',
       'Engines', 'Extinguished', 'Fatalities', 'Featured', 'Final',
       'FuelType', 'Helicopters', 'Injuries', 'Latitude', 'Location',
       'Longitude', 'MajorIncident', 'Name', 'PercentContained',
       'PersonnelInvolved', 'Public', 'SearchDescription', 'SearchKeywords',
       'Started', 'Status', 'StructuresDamaged', 'StructuresDestroyed',
       'StructuresEvacuated', 'StructuresThreatened', 'UniqueId', 'Updated',
       'WaterTenders'],
      dtype='object')

In [11]:
second_fire["Name"]

0              Rim Fire
1       Powerhouse Fire
2         Mountain Fire
3         American Fire
4          Springs Fire
             ...
1631         Eagle Fire
1632          Long Fire
1633        Cashe Fire
1634           Oak Fire
1635      Johnson Fire
Name: Name, Length: 1636, dtype: object

In [12]:
merged_fire["ALARM_DATE"]

0        6/18/2020 12:00:00 AM
1         6/1/2020 12:00:00 AM
2        8/10/2020 12:00:00 AM
3        3/31/2020 12:00:00 AM
4        4/14/2020 12:00:00 AM
                 ...
21921    3/16/2022 12:00:00 AM
21922    8/14/2022 12:00:00 AM
21923     9/9/2022 12:00:00 AM
21924    7/31/2022 12:00:00 AM
21925    7/25/2022 12:00:00 AM
Name: ALARM_DATE, Length: 21926, dtype: object

In [13]:
merged_fire["YEAR_"].unique()

array([2020., 2007., 2006., 2005., 2004., 1944., 1915., 1917., 1960.,
       1921., 1923., 1970., 1920., 1979., 1990., 1998., 1966., 1942.,
       1941., 1982., 1973., 1977., 1953., 1946., 1955., 1931., 1949.,
       1964., 1948., 1958., 1972., 1916., 1974., 1950., 1930., 1971.,
       1924., 1926., 1927., 1945., 1952., 1911., 1929.,   nan, 1997.,
       1984., 1910., 1951., 1956., 1981., 1909., 1935., 1936., 1961.,
       1919., 1925., 1928., 1918., 1940., 1933., 1968., 1999., 1943.,
       1914., 1922., 1975., 1932., 1912., 1978., 1983., 1913., 1947.,
       1934., 1937., 1938., 1967., 1976., 2000., 1994., 1878., 1895.,
       1896., 1898., 1907., 1908., 1986., 1980., 1954., 1962., 1959.,
       1900., 1957., 2003., 1969., 1988., 1996., 1991., 1992., 1995.,
       1987., 1939., 1903., 1905., 1906., 1985., 2001., 1989., 2002.,
       1965., 1993., 1963., 2008., 2010., 2016., 2012., 2014., 1902.,
       2009., 2011., 2013., 2015., 2017., 2018., 2019., 2021., 2022.])

In [14]:
second_fire["ArchiveYear"].unique()

array([2013, 2014, 2015, 2016, 2017, 2018, 2019])

Might not be worth using because only 2 years match with the pm2.5 dataset.

The third dataset can be found here: https://www.kaggle.com/datasets/avkashchauhan/california-wildfire-dataset-from-2000-2021/data

In [15]:
third_fire = pd.read_csv("./data/ca_daily_fire_2000_2021-v2.csv")
display(third_fire)

,latitude,longitude,acq_date,satellite,instrument,frp,type,bright_t31,confidence,year,month
0,32.4646,-114.6906,2011-06-29,Terra,MODIS,91.1,0,315.7,84,2011,6
1,32.4768,-114.6785,2011-10-11,Terra,MODIS,96.2,0,313.7,100,2011,10
2,32.4937,-114.7856,2013-02-06,Terra,MODIS,26.9,0,296.1,65,2013,2
3,32.4987,-114.7985,2010-02-04,Terra,MODIS,22.2,0,282.9,62,2010,2
4,32.5006,-114.7929,2009-07-08,Aqua,MODIS,172.0,0,316.4,78,2009,7
...,...,...,...,...,...,...,...,...,...,...,...
221178,41.9998,-121.0237,2014-11-12,Aqua,MODIS,24.6,0,274.4,77,2014,11
221179,41.9998,-120.7090,2012-08-13,Terra,MODIS,74.1,0,310.7,97,2012,8
221180,41.9998,-114.9167,2007-07-20,Aqua,MODIS,35.7,0,321.8,91,2007,7
221181,41.9999,-123.5675,2018-07-30,Terra,MODIS,18.2,0,295.8,62,2018,7
221182,41.9999,-114.9300,2007-07-21,Aqua,MODIS,276.1,0,317.5,94,2007,7

In [16]:
third_fire["year"].unique()

array([2011, 2013, 2010, 2009, 2004, 2002, 2018, 2007, 2005, 2008, 2014,
       2020, 2012, 2006, 2003, 2016, 2017, 2019, 2001, 2015, 2000])

In [17]:
third_fire.columns

Index(['latitude', 'longitude', 'acq_date', 'satellite', 'instrument', 'frp',
       'type', 'bright_t31', 'confidence', 'year', 'month'],
      dtype='object')

In [18]:
print(len(third_fire["acq_date"].unique()))
print(len(third_fire["acq_date"]))

6352
221183

In [19]:
merged_fire["ALARM_DATE"]

0        6/18/2020 12:00:00 AM
1         6/1/2020 12:00:00 AM
2        8/10/2020 12:00:00 AM
3        3/31/2020 12:00:00 AM
4        4/14/2020 12:00:00 AM
                 ...
21921    3/16/2022 12:00:00 AM
21922    8/14/2022 12:00:00 AM
21923     9/9/2022 12:00:00 AM
21924    7/31/2022 12:00:00 AM
21925    7/25/2022 12:00:00 AM
Name: ALARM_DATE, Length: 21926, dtype: object

In [20]:
merged_fire["CONT_DATE"]

0        6/23/2020 12:00:00 AM
1         6/4/2020 12:00:00 AM
2        8/11/2020 12:00:00 AM
3         4/1/2020 12:00:00 AM
4        4/19/2020 12:00:00 AM
                 ...
21921    3/17/2022 12:00:00 AM
21922    8/14/2022 12:00:00 AM
21923    9/10/2022 12:00:00 AM
21924     8/3/2022 12:00:00 AM
21925    7/25/2022 12:00:00 AM
Name: CONT_DATE, Length: 21926, dtype: object

In [25]:
merged_fire = merged_fire[(merged_fire["YEAR_"] >= 2011) & (merged_fire["YEAR_"] <= 2014)]
display(merged_fire)

,OBJECTID,YEAR_,STATE,AGENCY,UNIT_ID,FIRE_NAME,INC_NUM,ALARM_DATE,CONT_DATE,CAUSE,...,COMPLEX_NAME,COMPLEX_INCNUM,IRWINID,FIRE_NUM,DECADES,Shape__Area,Shape__Length,COMPLEX_NA,COMPLEX_IN,geometry
13045,34584,2012.0,CA,CCO,KRN,COWBOY,01217096,6/7/2012 12:00:00 AM,6/7/2012 12:00:00 AM,14.0,...,NaN,NaN,NaN,NaN,2010.0,4.771871e+03,368.968754,None,None,"POLYGON ((-13187023.232 4218136.070, -13187021..."
13046,34585,2012.0,CA,CCO,KRN,EDMONSTON,01218758,6/22/2012 12:00:00 AM,6/22/2012 12:00:00 AM,14.0,...,NaN,NaN,NaN,NaN,2010.0,7.914763e+04,3795.868045,None,None,"POLYGON ((-13236016.851 4157998.099, -13236016..."
13047,34586,2012.0,CA,CCO,KRN,EMIGDIO,01219717,6/29/2012 12:00:00 AM,6/29/2012 12:00:00 AM,14.0,...,NaN,NaN,NaN,NaN,2010.0,1.045049e+06,4798.880579,None,None,"POLYGON ((-13270806.002 4151445.849, -13270803..."
13048,34587,2012.0,CA,CCO,KRN,GRAPEVINE,01218491,6/18/2012 12:00:00 AM,6/18/2012 12:00:00 AM,14.0,...,NaN,NaN,NaN,NaN,2010.0,1.243085e+06,7063.686729,None,None,"POLYGON ((-13235680.988 4152022.282, -13235684..."
13049,34588,2012.0,CA,CCO,KRN,HILL,01218764,6/21/2012 12:00:00 AM,6/21/2012 12:00:00 AM,14.0,...,NaN,NaN,NaN,NaN,2010.0,8.903725e+04,1720.608691,None,None,"POLYGON ((-13298018.729 4180906.215, -13297990..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20437,42038,2014.0,CA,USF,KNF,RIVER,01706227,5/2/2014 12:00:00 AM,5/12/2014 12:00:00 AM,9.0,...,NaN,NaN,NaN,NaN,2010.0,1.165393e+05,1594.570065,None,None,"POLYGON ((-13695613.479 5128308.782, -13695622..."
20438,42039,2014.0,CA,USF,KNF,ETHEL,00005977,8/12/2014 12:00:00 AM,9/15/2014 12:00:00 AM,1.0,...,NaN,NaN,NaN,NaN,2010.0,8.375946e+04,1159.420758,None,None,"POLYGON ((-13716181.541 5078091.421, -13716033..."
21162,42778,2013.0,CA,CCO,VNC,SPRINGS,NaN,5/2/2013 12:00:00 AM,5/11/2013 12:00:00 AM,14.0,...,NaN,NaN,NaN,NaN,2010.0,1.401817e+08,166629.804623,None,None,"MULTIPOLYGON (((-13249430.922 4049132.907, -13..."
21566,43189,2014.0,CA,USF,SHF,COFFEE,00002410,7/29/2014 12:00:00 AM,10/30/2014 12:00:00 AM,1.0,...,COFFEE COMPLEX,NaN,NaN,NaN,2010.0,4.469850e+07,37130.571134,COFFEE COMPLEX,None,"POLYGON ((-13672617.853 5040221.726, -13672487..."
21567,43190,2012.0,CA,USF,KNF,HELLO,00005659,8/5/2012 12:00:00 AM,10/1/2012 12:00:00 AM,1.0,...,FORT COMPLEX,00005659,NaN,NaN,2010.0,7.155969e+06,11528.728502,FORT COMPLEX,00005659,"POLYGON ((-13719735.301 5154437.500, -13719747..."

In [27]:
third_fire = third_fire[(third_fire["year"] >= 2011) & (third_fire["year"] <= 2014)]
display(third_fire)

,latitude,longitude,acq_date,satellite,instrument,frp,type,bright_t31,confidence,year,month
0,32.4646,-114.6906,2011-06-29,Terra,MODIS,91.1,0,315.7,84,2011,6
1,32.4768,-114.6785,2011-10-11,Terra,MODIS,96.2,0,313.7,100,2011,10
2,32.4937,-114.7856,2013-02-06,Terra,MODIS,26.9,0,296.1,65,2013,2
5,32.5006,-114.7917,2013-02-06,Terra,MODIS,45.0,0,296.4,74,2013,2
13,32.5167,-114.7978,2011-11-05,Terra,MODIS,8.2,0,295.7,65,2011,11
...,...,...,...,...,...,...,...,...,...,...,...
221166,41.9994,-120.0259,2014-10-28,Terra,MODIS,57.3,0,285.6,62,2014,10
221171,41.9995,-120.6710,2012-08-14,Aqua,MODIS,227.1,0,309.3,100,2012,8
221176,41.9996,-120.6638,2012-08-14,Terra,MODIS,1717.1,0,364.8,100,2012,8
221178,41.9998,-121.0237,2014-11-12,Aqua,MODIS,24.6,0,274.4,77,2014,11
221179,41.9998,-120.7090,2012-08-13,Terra,MODIS,74.1,0,310.7,97,2012,8

In [28]:
# Convert merged_fire to a GeoDataFrame
merged_fire_geo = gpd.GeoDataFrame(merged_fire, geometry='geometry')

# Convert third_fire to a GeoDataFrame
third_fire_geo = gpd.GeoDataFrame(third_fire, geometry=gpd.points_from_xy(third_fire['longitude'], third_fire['latitude']))

# Set the coordinate reference system (CRS) for both GeoDataFrames
merged_fire_geo.crs = {'init': 'epsg:4326'}
third_fire_geo.crs = {'init': 'epsg:4326'}

# Convert 'ALARM_DATE', 'CONT_DATE', and 'acq_date' to datetime if not already
merged_fire_geo['ALARM_DATE'] = pd.to_datetime(merged_fire_geo['ALARM_DATE'], errors='coerce')
merged_fire_geo['CONT_DATE'] = pd.to_datetime(merged_fire_geo['CONT_DATE'], errors='coerce')
third_fire_geo['acq_date'] = pd.to_datetime(third_fire_geo['acq_date'])

# Perform the spatial join with a distance tolerance
distance_tolerance = 20000000  # Adjust the distance tolerance as needed (in degrees)
merged_df = gpd.sjoin_nearest(merged_fire_geo, third_fire_geo, how='inner',max_distance=distance_tolerance, distance_col='distance')
merged_df

/Users/otaira/.pyenv/versions/3.12.2/envs/emberalert/lib/python3.12/site-packages/pyproj/crs/crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
/var/folders/bb/bc8ww5jx0kgdhn7fznlq1nqc0000gn/T/ipykernel_67346/2141506942.py:12: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  merged_fire_geo['ALARM_DATE'] = pd.to_datetime(merged_fire_geo['ALARM_DATE'], errors='coerce')
/var/folders/bb/bc8ww5jx0kgdhn7fznlq1nqc0000gn/T/ipykernel_67346/2141506942.py:13: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  merged_fire_geo['CONT_DATE'] = pd.to_datetime(merged_fire_geo['CONT_DATE'], errors='coerce')
/Users/otaira/.pyenv/versions/3.12.2/envs/emberalert/lib/python3.12/site-packages/geopandas/array.py:365: UserWarning: Geometry is in a geographic CRS. Results from 'sjoin_nearest' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  warnings.warn(

In [ ]:
merged_df = merged_df[(merged_df['distance'] <= distance_tolerance) &
                      (merged_df['acq_date'] >= merged_df['ALARM_DATE']) &
                      (merged_df['acq_date'] <= merged_df['CONT_DATE'])]
# Print the merged DataFrame
print(merged_df)

In [ ]:
second_fire.columns

Index(['AcresBurned', 'Active', 'AdminUnit', 'AirTankers', 'ArchiveYear',
       'CalFireIncident', 'CanonicalUrl', 'ConditionStatement',
       'ControlStatement', 'Counties', 'CountyIds', 'CrewsInvolved', 'Dozers',
       'Engines', 'Extinguished', 'Fatalities', 'Featured', 'Final',
       'FuelType', 'Helicopters', 'Injuries', 'Latitude', 'Location',
       'Longitude', 'MajorIncident', 'Name', 'PercentContained',
       'PersonnelInvolved', 'Public', 'SearchDescription', 'SearchKeywords',
       'Started', 'Status', 'StructuresDamaged', 'StructuresDestroyed',
       'StructuresEvacuated', 'StructuresThreatened', 'UniqueId', 'Updated',
       'WaterTenders'],
      dtype='object')