In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd

First dataset for wildfires found here: https://catalog.data.gov/dataset/california-fire-perimeters-all-b3436

In [2]:
fire_data = pd.read_csv('./data/California_Fire_Perimeters_5422071188818403882.csv')
display(fire_data)

,OBJECTID,YEAR_,STATE,AGENCY,UNIT_ID,FIRE_NAME,INC_NUM,ALARM_DATE,CONT_DATE,CAUSE,...,OBJECTIVE,GIS_ACRES,COMMENTS,COMPLEX_NAME,COMPLEX_INCNUM,IRWINID,FIRE_NUM,DECADES,Shape__Area,Shape__Length
0,21440,2020.0,CA,CDF,NEU,NELSON,00013212,6/18/2020 12:00:00 AM,6/23/2020 12:00:00 AM,11.0,...,1.0,109.602300,NaN,NaN,NaN,NaN,NaN,2020.0,7.331347e+05,4179.743142
1,21441,2020.0,CA,CDF,NEU,AMORUSO,00011799,6/1/2020 12:00:00 AM,6/4/2020 12:00:00 AM,2.0,...,1.0,685.585000,NaN,NaN,NaN,NaN,NaN,2020.0,4.578172e+06,12399.375391
2,21442,2020.0,CA,CDF,NEU,ATHENS,00018493,8/10/2020 12:00:00 AM,8/11/2020 12:00:00 AM,14.0,...,1.0,27.300480,NaN,NaN,NaN,NaN,NaN,2020.0,1.823876e+05,2119.194120
3,21443,2020.0,CA,CDF,NEU,FLEMING,00007619,3/31/2020 12:00:00 AM,4/1/2020 12:00:00 AM,9.0,...,1.0,12.931550,NaN,NaN,NaN,NaN,NaN,2020.0,8.667945e+04,2029.524881
4,21444,2020.0,CA,CDF,NEU,MELANESE,00008471,4/14/2020 12:00:00 AM,4/19/2020 12:00:00 AM,18.0,...,1.0,10.315960,NaN,NaN,NaN,NaN,NaN,2020.0,7.017913e+04,1342.742903
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21921,43907,2022.0,CA,LRA,VNC,CHAMBERS,00023419,3/16/2022 12:00:00 AM,3/17/2022 12:00:00 AM,14.0,...,1.0,1.547286,NaN,NaN,NaN,B541FD2D-0474-47CF-AF6C-C4576E03A590,NaN,2020.0,9.217691e+03,537.691347
21922,43908,2022.0,CA,LRA,VNC,MOON,00073287,8/14/2022 12:00:00 AM,8/14/2022 12:00:00 AM,14.0,...,1.0,1.424808,NaN,NaN,NaN,EE538AD9-C557-40F2-9EDD-56C345B4E7FD,NaN,2020.0,8.444238e+03,452.799309
21923,43909,2022.0,CA,USF,SHF,TEXAS,00000953,9/9/2022 12:00:00 AM,9/10/2022 12:00:00 AM,14.0,...,1.0,12.912490,BA5FDCF1-23D0-43FD-8DA9-3FF21A5C0F81,NaN,NaN,BA5FDCF1-23D0-43FD-8DA9-3FF21A5C0F81,NaN,2020.0,8.985026e+04,2061.550880
21924,43910,2022.0,CA,USF,KNF,ALEX,00006290,7/31/2022 12:00:00 AM,8/3/2022 12:00:00 AM,14.0,...,1.0,150.403500,E9A30E52-C8E6-4AA5-B7D8-967923865340,NaN,NaN,E9A30E52-C8E6-4AA5-B7D8-967923865340,NaN,2020.0,1.100802e+06,6500.414625
21925,43911,2022.0,CA,CDF,TGU,TULARE,00008878,7/25/2022 12:00:00 AM,7/25/2022 12:00:00 AM,10.0,...,1.0,134.469800,NaN,NaN,NaN,0269DB87-31A2-4DDE-BAB4-74092225EF4E,NaN,2020.0,9.290376e+05,5645.738468

In [3]:
fire_location = gpd.read_file('./data/fire_shape_data/California_Fire_Perimeters_(all).shp')
fire_location

,YEAR_,STATE,AGENCY,UNIT_ID,FIRE_NAME,INC_NUM,ALARM_DATE,CONT_DATE,CAUSE,C_METHOD,OBJECTIVE,GIS_ACRES,COMMENTS,COMPLEX_NA,COMPLEX_IN,IRWINID,FIRE_NUM,DECADES,geometry
0,2020,CA,CDF,NEU,NELSON,00013212,2020-06-18,2020-06-23,11,1,1,109.60200,None,None,None,None,None,2020,"POLYGON ((-13508443.877 4705925.941, -13508437..."
1,2020,CA,CDF,NEU,AMORUSO,00011799,2020-06-01,2020-06-04,2,1,1,685.58500,None,None,None,None,None,2020,"POLYGON ((-13508927.937 4695976.336, -13508919..."
2,2020,CA,CDF,NEU,ATHENS,00018493,2020-08-10,2020-08-11,14,1,1,27.30050,None,None,None,None,None,2020,"POLYGON ((-13506766.482 4699576.903, -13506741..."
3,2020,CA,CDF,NEU,FLEMING,00007619,2020-03-31,2020-04-01,9,1,1,12.93150,None,None,None,None,None,2020,"POLYGON ((-13500068.676 4716384.732, -13500054..."
4,2020,CA,CDF,NEU,MELANESE,00008471,2020-04-14,2020-04-19,18,1,1,10.31600,None,None,None,None,None,2020,"POLYGON ((-13503128.528 4791692.607, -13503101..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21921,2022,CA,LRA,VNC,CHAMBERS,00023419,2022-03-16,2022-03-17,14,1,1,1.54729,None,None,None,B541FD2D-0474-47CF-AF6C-C4576E03A590,None,2020,"POLYGON ((-13237822.286 4081383.153, -13237822..."
21922,2022,CA,LRA,VNC,MOON,00073287,2022-08-14,2022-08-14,14,1,1,1.42481,None,None,None,EE538AD9-C557-40F2-9EDD-56C345B4E7FD,None,2020,"POLYGON ((-13241105.999 4051757.539, -13241098..."
21923,2022,CA,USF,SHF,TEXAS,00000953,2022-09-09,2022-09-10,14,6,1,12.91250,BA5FDCF1-23D0-43FD-8DA9-3FF21A5C0F81,None,None,BA5FDCF1-23D0-43FD-8DA9-3FF21A5C0F81,None,2020,"POLYGON ((-13703427.459 4905142.122, -13703465..."
21924,2022,CA,USF,KNF,ALEX,00006290,2022-07-31,2022-08-03,14,3,1,150.40400,E9A30E52-C8E6-4AA5-B7D8-967923865340,None,None,E9A30E52-C8E6-4AA5-B7D8-967923865340,None,2020,"MULTIPOLYGON (((-13687209.245 5152398.057, -13..."
21925,2022,CA,CDF,TGU,TULARE,00008878,2022-07-25,2022-07-25,10,4,1,134.47000,None,None,None,0269DB87-31A2-4DDE-BAB4-74092225EF4E,None,2020,"POLYGON ((-13630496.698 4869626.527, -13630472..."

In [4]:
print(len(fire_location["FIRE_NAME"]))
print(len(fire_location["FIRE_NAME"].unique()))
print(len(fire_data))

21926
9036
21926

In [5]:
print(str(fire_location["geometry"][0]))

POLYGON ((-13508443.8772 4705925.940700002, -13508437.8379 4705927.1696000025, -13508432.5098 4705928.6489999965, -13508425.6331 4705927.5942, -13508412.5327 4705926.491099998, -13508407.0184 4705920.868799999, -13508379.474 4705923.901799999, -13508375.554299999 4705922.965899996, -13508349.597199999 4705916.769000001, -13508335.955699999 4705915.666199997, -13508323.928399999 4705912.345700003, -13508305.407200001 4705915.054899998, -13508302.3279 4705912.968900003, -13508299.1929 4705912.081900001, -13508259.8919 4705911.782200001, -13508227.8504 4705918.351400003, -13508195.0158 4705910.391599998, -13508160.9214 4705912.369499996, -13508145.2926 4705907.298799999, -13508118.0374 4705889.964599997, -13508091.2863 4705881.944899999, -13508085.8466 4705876.598200001, -13508050.1008 4705861.865400001, -13508038.3534 4705862.860399999, -13508023.5361 4705857.417999998, -13507988.1356 4705842.217500001, -13507973.8504 4705829.174900003, -13507945.270399999 4705809.743100002, -13507911.932 4705791.941600002, -13507878.807799999 4705772.497699998, -13507845.637400001 4705755.990800001, -13507819.8752 4705740.215300001, -13507787.5912 4705719.141199999, -13507785.5502 4705718.409999996, -13507753.161 4705706.806100003, -13507727.259100001 4705692.984499998, -13507699.3228 4705671.0594, -13507675.9029 4705647.4921, -13507650.2061 4705634.126400001, -13507622.466 4705613.5798999965, -13507597.1331 4705593.009599999, -13507575.2805 4705584.282799996, -13507571.4269 4705579.931400001, -13507560.928199999 4705574.1884, -13507558.1337 4705573.669699997, -13507538.7136 4705570.041699998, -13507533.3485 4705568.567500003, -13507527.2955 4705567.1096, -13507527.346900001 4705551.816600002, -13507527.8407 4705536.528700002, -13507531.3492 4705503.1721, -13507532.0886 4705405.7761999965, -13507532.1621 4705396.1021, -13507540.283 4705381.088200003, -13507594.315200001 4705371.0424000025, -13507750.7909 4705378.162600003, -13508230.8363 4705393.769900002, -13508276.0098 4705395.215999998, -13508653.0687 4705407.2793999985, -13508842.2111 4705413.9921, -13508954.8138 4705422.874799997, -13508957.295699999 4705436.504100002, -13508968.3434 4705452.674800001, -13508978.9151 4705454.568899997, -13509004.0426 4705464.110699996, -13509031.4561 4705468.390000001, -13509040.861499999 4705475.138899997, -13509044.6031 4705475.4626, -13509049.7163 4705481.863700002, -13509056.387699999 4705486.730499998, -13509059.0096 4705489.5955, -13509067.2452 4705497.3451000005, -13509067.5192 4705497.602899998, -13509071.7369 4705500.431900002, -13509089.493 4705510.1536, -13509097.984000001 4705513.545900002, -13509103.0879 4705518.244900003, -13509107.9118 4705528.0266999975, -13509121.18 4705551.138099998, -13509138.9084 4705563.209200002, -13509140.0374 4705566.337899998, -13509140.083999999 4705593.501199998, -13509146.3542 4705615.282300003, -13509148.360399999 4705623.301799998, -13509139.6733 4705643.9201000035, -13509134.4202 4705654.6010000035, -13509137.0516 4705665.293700002, -13509136.3049 4705669.7051, -13509124.072700001 4705693.272399999, -13509121.7119 4705701.112199999, -13509116.496 4705706.2788999975, -13509094.9514 4705722.186099999, -13509089.017099999 4705729.522600003, -13509088.6066 4705732.3276999965, -13509087.9067 4705733.814199999, -13509074.0788 4705747.5757, -13509070.8544 4705750.455700003, -13509069.3948 4705751.759499997, -13509070.9738 4705758.829099998, -13509073.668 4705770.891500004, -13509077.7176 4705789.795999996, -13509084.510499999 4705806.926200002, -13509095.026 4705822.306299999, -13509097.2653 4705829.079400003, -13509089.2411 4705844.639300004, -13509089.670400001 4705852.503200002, -13509094.569 4705875.2557, -13509098.6089 4705886.596199997, -13509122.6637 4705884.0427, -13509126.0411 4705884.821999997, -13509147.791000001 4705881.7051, -13509159.267900001 4705874.428599998, -13509167.0031 4705872.055, -13509170.8752 4705878.372599997, -13509173.814399999 4705879.175800003, -13509182.716 4705881.861000001, -13509181.0365 4705900.250100002, -13509177.5095 4705911.8662, -13509176.5856 4705917.056999996, -13509172.956 4705919.982000001, -13509170.7446 4705922.3794, -13509170.5673 4705923.746200003, -13509165.528900001 4705950.4428, -13509155.647599999 4705961.003899999, -13509152.4472 4705962.838200003, -13509137.0141 4705974.238499999, -13509127.0024 4705975.641000003, -13509099.9901 4705977.667000003, -13509090.5941 4705982.557999998, -13509078.361499999 4705996.3081, -13509076.4487 4705993.622699998, -13509074.3254 4705993.870200001, -13509053.5977 4705996.284100004, -13509041.9063 4705978.3983, -13509034.190000001 4705975.988600001, -13509008.5864 4705976.444399998, -13508978.0472 4705974.226499997, -13508949.140700001 4705969.8989999965, -13508926.345800001 4705968.820100002, -13508911.2675 4705977.978699997, -13508898.6898 4705972.5961000025, -13508888.8272 4705968.436499998, -13508870.7163 4705963.245499998, -13508855.3953 4705958.522399999, -13508844.133200001 4705954.530500002, -13508828.774500001 4705953.889200002, -13508826.5075 4705952.936099999, -13508815.3479 4705953.895400003, -13508814.6158 4705953.891800001, -13508788.2515 4705953.763300002, -13508781.9161 4705957.503600001, -13508780.2738 4705957.275700003, -13508752.0486 4705946.546499997, -13508721.8265 4705943.309900001, -13508703.0065 4705936.392999999, -13508680.2022 4705925.652099997, -13508669.5187 4705918.711099997, -13508650.54 4705910.931000002, -13508624.2181 4705913.076899998, -13508615.5872 4705914.563199997, -13508595.4982 4705909.156900004, -13508591.896499999 4705910.523599997, -13508586.2048 4705908.389700003, -13508581.5582 4705907.4067, -13508580.0186 4705910.775200002, -13508577.3594 4705919.442400001, -13508574.4016 4705919.5383, -13508561.7771 4705919.646300003, -13508554.1166 4705922.5830999985, -13508537.3773 4705921.7919000015, -13508519.7237 4705924.537299998, -13508502.415199999 4705926.047600001, -13508494.3908 4705929.584100001, -13508489.380199999 4705930.986500002, -13508469.254 4705925.759800002, -13508462.229899999 4705925.659000002, -13508443.8772 4705925.940700002))

In [6]:
merged_fire = pd.merge(fire_data, fire_location, left_index=True, right_index=True, suffixes=('', '_drop'))
merged_fire = merged_fire.filter(regex='^(?!.*_drop)')

print(merged_fire.columns)

Index(['OBJECTID', 'YEAR_', 'STATE', 'AGENCY', 'UNIT_ID', 'FIRE_NAME',
       'INC_NUM', 'ALARM_DATE', 'CONT_DATE', 'CAUSE', 'C_METHOD', 'OBJECTIVE',
       'GIS_ACRES', 'COMMENTS', 'COMPLEX_NAME', 'COMPLEX_INCNUM', 'IRWINID',
       'FIRE_NUM', 'DECADES', 'Shape__Area', 'Shape__Length', 'COMPLEX_NA',
       'COMPLEX_IN', 'geometry'],
      dtype='object')

In [7]:
merged_fire

,OBJECTID,YEAR_,STATE,AGENCY,UNIT_ID,FIRE_NAME,INC_NUM,ALARM_DATE,CONT_DATE,CAUSE,...,COMPLEX_NAME,COMPLEX_INCNUM,IRWINID,FIRE_NUM,DECADES,Shape__Area,Shape__Length,COMPLEX_NA,COMPLEX_IN,geometry
0,21440,2020.0,CA,CDF,NEU,NELSON,00013212,6/18/2020 12:00:00 AM,6/23/2020 12:00:00 AM,11.0,...,NaN,NaN,NaN,NaN,2020.0,7.331347e+05,4179.743142,None,None,"POLYGON ((-13508443.877 4705925.941, -13508437..."
1,21441,2020.0,CA,CDF,NEU,AMORUSO,00011799,6/1/2020 12:00:00 AM,6/4/2020 12:00:00 AM,2.0,...,NaN,NaN,NaN,NaN,2020.0,4.578172e+06,12399.375391,None,None,"POLYGON ((-13508927.937 4695976.336, -13508919..."
2,21442,2020.0,CA,CDF,NEU,ATHENS,00018493,8/10/2020 12:00:00 AM,8/11/2020 12:00:00 AM,14.0,...,NaN,NaN,NaN,NaN,2020.0,1.823876e+05,2119.194120,None,None,"POLYGON ((-13506766.482 4699576.903, -13506741..."
3,21443,2020.0,CA,CDF,NEU,FLEMING,00007619,3/31/2020 12:00:00 AM,4/1/2020 12:00:00 AM,9.0,...,NaN,NaN,NaN,NaN,2020.0,8.667945e+04,2029.524881,None,None,"POLYGON ((-13500068.676 4716384.732, -13500054..."
4,21444,2020.0,CA,CDF,NEU,MELANESE,00008471,4/14/2020 12:00:00 AM,4/19/2020 12:00:00 AM,18.0,...,NaN,NaN,NaN,NaN,2020.0,7.017913e+04,1342.742903,None,None,"POLYGON ((-13503128.528 4791692.607, -13503101..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21921,43907,2022.0,CA,LRA,VNC,CHAMBERS,00023419,3/16/2022 12:00:00 AM,3/17/2022 12:00:00 AM,14.0,...,NaN,NaN,B541FD2D-0474-47CF-AF6C-C4576E03A590,NaN,2020.0,9.217691e+03,537.691347,None,None,"POLYGON ((-13237822.286 4081383.153, -13237822..."
21922,43908,2022.0,CA,LRA,VNC,MOON,00073287,8/14/2022 12:00:00 AM,8/14/2022 12:00:00 AM,14.0,...,NaN,NaN,EE538AD9-C557-40F2-9EDD-56C345B4E7FD,NaN,2020.0,8.444238e+03,452.799309,None,None,"POLYGON ((-13241105.999 4051757.539, -13241098..."
21923,43909,2022.0,CA,USF,SHF,TEXAS,00000953,9/9/2022 12:00:00 AM,9/10/2022 12:00:00 AM,14.0,...,NaN,NaN,BA5FDCF1-23D0-43FD-8DA9-3FF21A5C0F81,NaN,2020.0,8.985026e+04,2061.550880,None,None,"POLYGON ((-13703427.459 4905142.122, -13703465..."
21924,43910,2022.0,CA,USF,KNF,ALEX,00006290,7/31/2022 12:00:00 AM,8/3/2022 12:00:00 AM,14.0,...,NaN,NaN,E9A30E52-C8E6-4AA5-B7D8-967923865340,NaN,2020.0,1.100802e+06,6500.414625,None,None,"MULTIPOLYGON (((-13687209.245 5152398.057, -13..."
21925,43911,2022.0,CA,CDF,TGU,TULARE,00008878,7/25/2022 12:00:00 AM,7/25/2022 12:00:00 AM,10.0,...,NaN,NaN,0269DB87-31A2-4DDE-BAB4-74092225EF4E,NaN,2020.0,9.290376e+05,5645.738468,None,None,"POLYGON ((-13630496.698 4869626.527, -13630472..."

In [8]:
merged_fire.columns

Index(['OBJECTID', 'YEAR_', 'STATE', 'AGENCY', 'UNIT_ID', 'FIRE_NAME',
       'INC_NUM', 'ALARM_DATE', 'CONT_DATE', 'CAUSE', 'C_METHOD', 'OBJECTIVE',
       'GIS_ACRES', 'COMMENTS', 'COMPLEX_NAME', 'COMPLEX_INCNUM', 'IRWINID',
       'FIRE_NUM', 'DECADES', 'Shape__Area', 'Shape__Length', 'COMPLEX_NA',
       'COMPLEX_IN', 'geometry'],
      dtype='object')

In [9]:
len(merged_fire["FIRE_NUM"].unique())

3173

Second dataset for wildfires is found here: https://www.kaggle.com/datasets/ananthu017/california-wildfire-incidents-20132020?select=California_Fire_Incidents.csv

In [10]:
second_fire = pd.read_csv("./data/California_Fire_Incidents.csv")
display(second_fire)

,AcresBurned,Active,AdminUnit,AirTankers,ArchiveYear,CalFireIncident,CanonicalUrl,ConditionStatement,ControlStatement,Counties,...,SearchKeywords,Started,Status,StructuresDamaged,StructuresDestroyed,StructuresEvacuated,StructuresThreatened,UniqueId,Updated,WaterTenders
0,257314.0,False,Stanislaus National Forest/Yosemite National Park,NaN,2013,True,/incidents/2013/8/17/rim-fire/,NaN,NaN,Tuolumne,...,"Rim Fire, Stanislaus National Forest, Yosemite...",2013-08-17T15:25:00Z,Finalized,NaN,NaN,NaN,NaN,5fb18d4d-213f-4d83-a179-daaf11939e78,2013-09-06T18:30:00Z,NaN
1,30274.0,False,USFS Angeles National Forest/Los Angeles Count...,NaN,2013,True,/incidents/2013/5/30/powerhouse-fire/,NaN,NaN,Los Angeles,...,"Powerhouse Fire, May 2013, June 2013, Angeles ...",2013-05-30T15:28:00Z,Finalized,NaN,NaN,NaN,NaN,bf37805e-1cc2-4208-9972-753e47874c87,2013-06-08T18:30:00Z,NaN
2,27531.0,False,CAL FIRE Riverside Unit / San Bernardino Natio...,NaN,2013,True,/incidents/2013/7/15/mountain-fire/,NaN,NaN,Riverside,...,"Mountain Fire, July 2013, Highway 243, Highway...",2013-07-15T13:43:00Z,Finalized,NaN,NaN,NaN,NaN,a3149fec-4d48-427c-8b2c-59e8b79d59db,2013-07-30T18:00:00Z,NaN
3,27440.0,False,Tahoe National Forest,NaN,2013,False,/incidents/2013/8/10/american-fire/,NaN,NaN,Placer,...,"American Fire, August 2013, Deadwood Ridge, Fo...",2013-08-10T16:30:00Z,Finalized,NaN,NaN,NaN,NaN,8213f5c7-34fa-403b-a4bc-da2ace6e6625,2013-08-30T08:00:00Z,NaN
4,24251.0,False,Ventura County Fire/CAL FIRE,NaN,2013,True,/incidents/2013/5/2/springs-fire/,Acreage has been reduced based upon more accur...,NaN,Ventura,...,"Springs Fire, May 2013, Highway 101, Camarillo...",2013-05-02T07:01:00Z,Finalized,6.0,10.0,NaN,NaN,46731fb8-3350-4920-bdf7-910ac0eb715c,2013-05-11T06:30:00Z,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1631,9.0,False,CAL FIRE / Riverside County Fire,NaN,2019,True,/incidents/2019/10/10/eagle-fire/,NaN,NaN,Riverside,...,NaN,2019-10-10T12:08:00Z,Finalized,NaN,NaN,NaN,NaN,6e93b252-99a3-4214-9921-238373b17535,2019-10-10T18:11:59.733Z,NaN
1632,2.0,False,CAL FIRE Nevada-Yuba-Placer Unit,NaN,2019,True,/incidents/2019/6/28/long-fire/,NaN,NaN,Nevada,...,NaN,2019-06-28T15:03:04Z,Finalized,NaN,NaN,NaN,NaN,b38c0563-b321-431b-9174-6336c5a0d449,2019-06-30T15:52:01.023Z,NaN
1633,NaN,False,Yolo County Fire Protection District,NaN,2019,False,/incidents/2019/11/25/cashe-fire/,NaN,NaN,Yolo,...,NaN,2019-11-25T12:02:02Z,Finalized,NaN,NaN,NaN,NaN,9c26f915-1b33-422d-b30a-9eb4da6fd729,2019-12-03T16:35:20.93Z,NaN
1634,NaN,False,Camp Pendleton Marine Corps Base,NaN,2019,False,/incidents/2019/10/22/oak-fire/,NaN,NaN,San Diego,...,NaN,2019-10-22T19:20:44Z,Finalized,NaN,NaN,NaN,NaN,7264a106-e0f4-41de-8fd0-3f9110431e28,2019-11-21T12:21:28.58Z,NaN
1635,NaN,False,Bureau of Indian Affairs,NaN,2019,False,/incidents/2019/10/14/johnson-fire/,"As of 10:00 p.m. on 10/16, the fire is 90% con...",NaN,Riverside,...,NaN,2019-10-14T15:32:20Z,Inactive,NaN,NaN,NaN,NaN,8bf75401-999f-42bd-8c0a-8db508591545,2019-10-30T10:14:19.58Z,NaN

In [11]:
second_fire.columns

Index(['AcresBurned', 'Active', 'AdminUnit', 'AirTankers', 'ArchiveYear',
       'CalFireIncident', 'CanonicalUrl', 'ConditionStatement',
       'ControlStatement', 'Counties', 'CountyIds', 'CrewsInvolved', 'Dozers',
       'Engines', 'Extinguished', 'Fatalities', 'Featured', 'Final',
       'FuelType', 'Helicopters', 'Injuries', 'Latitude', 'Location',
       'Longitude', 'MajorIncident', 'Name', 'PercentContained',
       'PersonnelInvolved', 'Public', 'SearchDescription', 'SearchKeywords',
       'Started', 'Status', 'StructuresDamaged', 'StructuresDestroyed',
       'StructuresEvacuated', 'StructuresThreatened', 'UniqueId', 'Updated',
       'WaterTenders'],
      dtype='object')

In [12]:
second_fire["Name"]

0              Rim Fire
1       Powerhouse Fire
2         Mountain Fire
3         American Fire
4          Springs Fire
             ...
1631         Eagle Fire
1632          Long Fire
1633        Cashe Fire
1634           Oak Fire
1635      Johnson Fire
Name: Name, Length: 1636, dtype: object

In [13]:
merged_fire["ALARM_DATE"]

0        6/18/2020 12:00:00 AM
1         6/1/2020 12:00:00 AM
2        8/10/2020 12:00:00 AM
3        3/31/2020 12:00:00 AM
4        4/14/2020 12:00:00 AM
                 ...
21921    3/16/2022 12:00:00 AM
21922    8/14/2022 12:00:00 AM
21923     9/9/2022 12:00:00 AM
21924    7/31/2022 12:00:00 AM
21925    7/25/2022 12:00:00 AM
Name: ALARM_DATE, Length: 21926, dtype: object

In [14]:
merged_fire["YEAR_"].unique()

array([2020., 2007., 2006., 2005., 2004., 1944., 1915., 1917., 1960.,
       1921., 1923., 1970., 1920., 1979., 1990., 1998., 1966., 1942.,
       1941., 1982., 1973., 1977., 1953., 1946., 1955., 1931., 1949.,
       1964., 1948., 1958., 1972., 1916., 1974., 1950., 1930., 1971.,
       1924., 1926., 1927., 1945., 1952., 1911., 1929.,   nan, 1997.,
       1984., 1910., 1951., 1956., 1981., 1909., 1935., 1936., 1961.,
       1919., 1925., 1928., 1918., 1940., 1933., 1968., 1999., 1943.,
       1914., 1922., 1975., 1932., 1912., 1978., 1983., 1913., 1947.,
       1934., 1937., 1938., 1967., 1976., 2000., 1994., 1878., 1895.,
       1896., 1898., 1907., 1908., 1986., 1980., 1954., 1962., 1959.,
       1900., 1957., 2003., 1969., 1988., 1996., 1991., 1992., 1995.,
       1987., 1939., 1903., 1905., 1906., 1985., 2001., 1989., 2002.,
       1965., 1993., 1963., 2008., 2010., 2016., 2012., 2014., 1902.,
       2009., 2011., 2013., 2015., 2017., 2018., 2019., 2021., 2022.])

In [15]:
second_fire["ArchiveYear"].unique()

array([2013, 2014, 2015, 2016, 2017, 2018, 2019])

Might not be worth using because only 2 years match with the pm2.5 dataset.

The third dataset can be found here: https://www.kaggle.com/datasets/avkashchauhan/california-wildfire-dataset-from-2000-2021/data

In [16]:
third_fire = pd.read_csv("./data/ca_daily_fire_2000_2021-v2.csv")
display(third_fire)

,latitude,longitude,acq_date,satellite,instrument,frp,type,bright_t31,confidence,year,month
0,32.4646,-114.6906,2011-06-29,Terra,MODIS,91.1,0,315.7,84,2011,6
1,32.4768,-114.6785,2011-10-11,Terra,MODIS,96.2,0,313.7,100,2011,10
2,32.4937,-114.7856,2013-02-06,Terra,MODIS,26.9,0,296.1,65,2013,2
3,32.4987,-114.7985,2010-02-04,Terra,MODIS,22.2,0,282.9,62,2010,2
4,32.5006,-114.7929,2009-07-08,Aqua,MODIS,172.0,0,316.4,78,2009,7
...,...,...,...,...,...,...,...,...,...,...,...
221178,41.9998,-121.0237,2014-11-12,Aqua,MODIS,24.6,0,274.4,77,2014,11
221179,41.9998,-120.7090,2012-08-13,Terra,MODIS,74.1,0,310.7,97,2012,8
221180,41.9998,-114.9167,2007-07-20,Aqua,MODIS,35.7,0,321.8,91,2007,7
221181,41.9999,-123.5675,2018-07-30,Terra,MODIS,18.2,0,295.8,62,2018,7
221182,41.9999,-114.9300,2007-07-21,Aqua,MODIS,276.1,0,317.5,94,2007,7

In [17]:
third_fire["year"].unique()

array([2011, 2013, 2010, 2009, 2004, 2002, 2018, 2007, 2005, 2008, 2014,
       2020, 2012, 2006, 2003, 2016, 2017, 2019, 2001, 2015, 2000])

In [18]:
third_fire.columns

Index(['latitude', 'longitude', 'acq_date', 'satellite', 'instrument', 'frp',
       'type', 'bright_t31', 'confidence', 'year', 'month'],
      dtype='object')

In [19]:
print(len(third_fire["acq_date"].unique()))
print(len(third_fire["acq_date"]))

6352
221183

In [20]:
merged_fire["ALARM_DATE"]

0        6/18/2020 12:00:00 AM
1         6/1/2020 12:00:00 AM
2        8/10/2020 12:00:00 AM
3        3/31/2020 12:00:00 AM
4        4/14/2020 12:00:00 AM
                 ...
21921    3/16/2022 12:00:00 AM
21922    8/14/2022 12:00:00 AM
21923     9/9/2022 12:00:00 AM
21924    7/31/2022 12:00:00 AM
21925    7/25/2022 12:00:00 AM
Name: ALARM_DATE, Length: 21926, dtype: object

In [21]:
merged_fire["CONT_DATE"]

0        6/23/2020 12:00:00 AM
1         6/4/2020 12:00:00 AM
2        8/11/2020 12:00:00 AM
3         4/1/2020 12:00:00 AM
4        4/19/2020 12:00:00 AM
                 ...
21921    3/17/2022 12:00:00 AM
21922    8/14/2022 12:00:00 AM
21923    9/10/2022 12:00:00 AM
21924     8/3/2022 12:00:00 AM
21925    7/25/2022 12:00:00 AM
Name: CONT_DATE, Length: 21926, dtype: object

In [22]:
merged_fire = merged_fire[(merged_fire["YEAR_"] >= 2011) & (merged_fire["YEAR_"] <= 2014)]
display(merged_fire)

,OBJECTID,YEAR_,STATE,AGENCY,UNIT_ID,FIRE_NAME,INC_NUM,ALARM_DATE,CONT_DATE,CAUSE,...,COMPLEX_NAME,COMPLEX_INCNUM,IRWINID,FIRE_NUM,DECADES,Shape__Area,Shape__Length,COMPLEX_NA,COMPLEX_IN,geometry
13045,34584,2012.0,CA,CCO,KRN,COWBOY,01217096,6/7/2012 12:00:00 AM,6/7/2012 12:00:00 AM,14.0,...,NaN,NaN,NaN,NaN,2010.0,4.771871e+03,368.968754,None,None,"POLYGON ((-13187023.232 4218136.070, -13187021..."
13046,34585,2012.0,CA,CCO,KRN,EDMONSTON,01218758,6/22/2012 12:00:00 AM,6/22/2012 12:00:00 AM,14.0,...,NaN,NaN,NaN,NaN,2010.0,7.914763e+04,3795.868045,None,None,"POLYGON ((-13236016.851 4157998.099, -13236016..."
13047,34586,2012.0,CA,CCO,KRN,EMIGDIO,01219717,6/29/2012 12:00:00 AM,6/29/2012 12:00:00 AM,14.0,...,NaN,NaN,NaN,NaN,2010.0,1.045049e+06,4798.880579,None,None,"POLYGON ((-13270806.002 4151445.849, -13270803..."
13048,34587,2012.0,CA,CCO,KRN,GRAPEVINE,01218491,6/18/2012 12:00:00 AM,6/18/2012 12:00:00 AM,14.0,...,NaN,NaN,NaN,NaN,2010.0,1.243085e+06,7063.686729,None,None,"POLYGON ((-13235680.988 4152022.282, -13235684..."
13049,34588,2012.0,CA,CCO,KRN,HILL,01218764,6/21/2012 12:00:00 AM,6/21/2012 12:00:00 AM,14.0,...,NaN,NaN,NaN,NaN,2010.0,8.903725e+04,1720.608691,None,None,"POLYGON ((-13298018.729 4180906.215, -13297990..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20437,42038,2014.0,CA,USF,KNF,RIVER,01706227,5/2/2014 12:00:00 AM,5/12/2014 12:00:00 AM,9.0,...,NaN,NaN,NaN,NaN,2010.0,1.165393e+05,1594.570065,None,None,"POLYGON ((-13695613.479 5128308.782, -13695622..."
20438,42039,2014.0,CA,USF,KNF,ETHEL,00005977,8/12/2014 12:00:00 AM,9/15/2014 12:00:00 AM,1.0,...,NaN,NaN,NaN,NaN,2010.0,8.375946e+04,1159.420758,None,None,"POLYGON ((-13716181.541 5078091.421, -13716033..."
21162,42778,2013.0,CA,CCO,VNC,SPRINGS,NaN,5/2/2013 12:00:00 AM,5/11/2013 12:00:00 AM,14.0,...,NaN,NaN,NaN,NaN,2010.0,1.401817e+08,166629.804623,None,None,"MULTIPOLYGON (((-13249430.922 4049132.907, -13..."
21566,43189,2014.0,CA,USF,SHF,COFFEE,00002410,7/29/2014 12:00:00 AM,10/30/2014 12:00:00 AM,1.0,...,COFFEE COMPLEX,NaN,NaN,NaN,2010.0,4.469850e+07,37130.571134,COFFEE COMPLEX,None,"POLYGON ((-13672617.853 5040221.726, -13672487..."
21567,43190,2012.0,CA,USF,KNF,HELLO,00005659,8/5/2012 12:00:00 AM,10/1/2012 12:00:00 AM,1.0,...,FORT COMPLEX,00005659,NaN,NaN,2010.0,7.155969e+06,11528.728502,FORT COMPLEX,00005659,"POLYGON ((-13719735.301 5154437.500, -13719747..."

In [23]:
third_fire = third_fire[(third_fire["year"] >= 2011) & (third_fire["year"] <= 2014)]
display(third_fire)

,latitude,longitude,acq_date,satellite,instrument,frp,type,bright_t31,confidence,year,month
0,32.4646,-114.6906,2011-06-29,Terra,MODIS,91.1,0,315.7,84,2011,6
1,32.4768,-114.6785,2011-10-11,Terra,MODIS,96.2,0,313.7,100,2011,10
2,32.4937,-114.7856,2013-02-06,Terra,MODIS,26.9,0,296.1,65,2013,2
5,32.5006,-114.7917,2013-02-06,Terra,MODIS,45.0,0,296.4,74,2013,2
13,32.5167,-114.7978,2011-11-05,Terra,MODIS,8.2,0,295.7,65,2011,11
...,...,...,...,...,...,...,...,...,...,...,...
221166,41.9994,-120.0259,2014-10-28,Terra,MODIS,57.3,0,285.6,62,2014,10
221171,41.9995,-120.6710,2012-08-14,Aqua,MODIS,227.1,0,309.3,100,2012,8
221176,41.9996,-120.6638,2012-08-14,Terra,MODIS,1717.1,0,364.8,100,2012,8
221178,41.9998,-121.0237,2014-11-12,Aqua,MODIS,24.6,0,274.4,77,2014,11
221179,41.9998,-120.7090,2012-08-13,Terra,MODIS,74.1,0,310.7,97,2012,8

In [24]:
# Convert merged_fire to a GeoDataFrame
merged_fire_geo = gpd.GeoDataFrame(merged_fire, geometry='geometry')

merged_fire_geo.crs = {'init': 'epsg:3857'}
merged_fire_geo = merged_fire_geo.to_crs({'init': 'epsg:4326'})
merged_fire_geo['latitude'] = merged_fire_geo.centroid.y
merged_fire_geo['longitude'] = merged_fire_geo.centroid.x

# Convert third_fire to a GeoDataFrame
third_fire_geo = gpd.GeoDataFrame(third_fire, geometry=gpd.points_from_xy(third_fire['longitude'], third_fire['latitude']))

# Set the coordinate reference system (CRS) for both GeoDataFrames
merged_fire_geo.crs = {'init': 'epsg:4326'}
third_fire_geo.crs = {'init': 'epsg:4326'}

/Users/otaira/.pyenv/versions/3.12.2/envs/emberalert/lib/python3.12/site-packages/pyproj/crs/crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
/var/folders/bb/bc8ww5jx0kgdhn7fznlq1nqc0000gn/T/ipykernel_71130/1143485156.py:6: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  merged_fire_geo['latitude'] = merged_fire_geo.centroid.y
/var/folders/bb/bc8ww5jx0kgdhn7fznlq1nqc0000gn/T/ipykernel_71130/1143485156.py:7: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  merged_fire_geo['longitude'] = merged_fire_geo.centroid.x
/Users/otaira/.pyenv/versions/3.12.2/envs/emberalert/lib/python3.12/site-packages/pyproj/crs/crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

In [25]:
merged_fire_geo

,OBJECTID,YEAR_,STATE,AGENCY,UNIT_ID,FIRE_NAME,INC_NUM,ALARM_DATE,CONT_DATE,CAUSE,...,IRWINID,FIRE_NUM,DECADES,Shape__Area,Shape__Length,COMPLEX_NA,COMPLEX_IN,geometry,latitude,longitude
13045,34584,2012.0,CA,CCO,KRN,COWBOY,01217096,6/7/2012 12:00:00 AM,6/7/2012 12:00:00 AM,14.0,...,NaN,NaN,2010.0,4.771871e+03,368.968754,None,None,"POLYGON ((-118.46105 35.39826, -118.46103 35.3...",35.398075,-118.460940
13046,34585,2012.0,CA,CCO,KRN,EDMONSTON,01218758,6/22/2012 12:00:00 AM,6/22/2012 12:00:00 AM,14.0,...,NaN,NaN,2010.0,7.914763e+04,3795.868045,None,None,"POLYGON ((-118.90116 34.95670, -118.90116 34.9...",34.953109,-118.898142
13047,34586,2012.0,CA,CCO,KRN,EMIGDIO,01219717,6/29/2012 12:00:00 AM,6/29/2012 12:00:00 AM,14.0,...,NaN,NaN,2010.0,1.045049e+06,4798.880579,None,None,"POLYGON ((-119.21368 34.90844, -119.21365 34.9...",34.906434,-119.209424
13048,34587,2012.0,CA,CCO,KRN,GRAPEVINE,01218491,6/18/2012 12:00:00 AM,6/18/2012 12:00:00 AM,14.0,...,NaN,NaN,2010.0,1.243085e+06,7063.686729,None,None,"POLYGON ((-118.89815 34.91269, -118.89817 34.9...",34.908048,-118.893613
13049,34588,2012.0,CA,CCO,KRN,HILL,01218764,6/21/2012 12:00:00 AM,6/21/2012 12:00:00 AM,14.0,...,NaN,NaN,2010.0,8.903725e+04,1720.608691,None,None,"POLYGON ((-119.45813 35.12518, -119.45788 35.1...",35.123764,-119.459344
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20437,42038,2014.0,CA,USF,KNF,RIVER,01706227,5/2/2014 12:00:00 AM,5/12/2014 12:00:00 AM,9.0,...,NaN,NaN,2010.0,1.165393e+05,1594.570065,None,None,"POLYGON ((-123.02979 41.78152, -123.02987 41.7...",41.780934,-123.027870
20438,42039,2014.0,CA,USF,KNF,ETHEL,00005977,8/12/2014 12:00:00 AM,9/15/2014 12:00:00 AM,1.0,...,NaN,NaN,2010.0,8.375946e+04,1159.420758,None,None,"POLYGON ((-123.21456 41.44425, -123.21322 41.4...",41.444664,-123.212820
21162,42778,2013.0,CA,CCO,VNC,SPRINGS,NaN,5/2/2013 12:00:00 AM,5/11/2013 12:00:00 AM,14.0,...,NaN,NaN,2010.0,1.401817e+08,166629.804623,None,None,"MULTIPOLYGON (((-119.02166 34.15128, -119.0219...",34.128425,-119.009099
21566,43189,2014.0,CA,USF,SHF,COFFEE,00002410,7/29/2014 12:00:00 AM,10/30/2014 12:00:00 AM,1.0,...,NaN,NaN,2010.0,4.469850e+07,37130.571134,COFFEE COMPLEX,None,"POLYGON ((-122.82322 41.18875, -122.82205 41.1...",41.153162,-122.823041
21567,43190,2012.0,CA,USF,KNF,HELLO,00005659,8/5/2012 12:00:00 AM,10/1/2012 12:00:00 AM,1.0,...,NaN,NaN,2010.0,7.155969e+06,11528.728502,FORT COMPLEX,00005659,"POLYGON ((-123.24648 41.95631, -123.24659 41.9...",41.961748,-123.228750

In [26]:
third_fire_geo

,latitude,longitude,acq_date,satellite,instrument,frp,type,bright_t31,confidence,year,month,geometry
0,32.4646,-114.6906,2011-06-29,Terra,MODIS,91.1,0,315.7,84,2011,6,POINT (-114.69060 32.46460)
1,32.4768,-114.6785,2011-10-11,Terra,MODIS,96.2,0,313.7,100,2011,10,POINT (-114.67850 32.47680)
2,32.4937,-114.7856,2013-02-06,Terra,MODIS,26.9,0,296.1,65,2013,2,POINT (-114.78560 32.49370)
5,32.5006,-114.7917,2013-02-06,Terra,MODIS,45.0,0,296.4,74,2013,2,POINT (-114.79170 32.50060)
13,32.5167,-114.7978,2011-11-05,Terra,MODIS,8.2,0,295.7,65,2011,11,POINT (-114.79780 32.51670)
...,...,...,...,...,...,...,...,...,...,...,...,...
221166,41.9994,-120.0259,2014-10-28,Terra,MODIS,57.3,0,285.6,62,2014,10,POINT (-120.02590 41.99940)
221171,41.9995,-120.6710,2012-08-14,Aqua,MODIS,227.1,0,309.3,100,2012,8,POINT (-120.67100 41.99950)
221176,41.9996,-120.6638,2012-08-14,Terra,MODIS,1717.1,0,364.8,100,2012,8,POINT (-120.66380 41.99960)
221178,41.9998,-121.0237,2014-11-12,Aqua,MODIS,24.6,0,274.4,77,2014,11,POINT (-121.02370 41.99980)
221179,41.9998,-120.7090,2012-08-13,Terra,MODIS,74.1,0,310.7,97,2012,8,POINT (-120.70900 41.99980)

In [27]:
# Convert 'ALARM_DATE', 'CONT_DATE', and 'acq_date' to datetime if not already
merged_fire_geo['ALARM_DATE'] = pd.to_datetime(merged_fire_geo['ALARM_DATE'], errors='coerce')
merged_fire_geo['CONT_DATE'] = pd.to_datetime(merged_fire_geo['CONT_DATE'], errors='coerce')
third_fire_geo['acq_date'] = pd.to_datetime(third_fire_geo['acq_date'])

# Perform the spatial join with a distance tolerance
distance_tolerance = 10  # Adjust the distance tolerance as needed (in degrees)
merged_df = gpd.sjoin_nearest(merged_fire_geo, third_fire_geo, how='inner', distance_col='distance')
merged_df

/var/folders/bb/bc8ww5jx0kgdhn7fznlq1nqc0000gn/T/ipykernel_71130/3313080174.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  merged_fire_geo['ALARM_DATE'] = pd.to_datetime(merged_fire_geo['ALARM_DATE'], errors='coerce')
/var/folders/bb/bc8ww5jx0kgdhn7fznlq1nqc0000gn/T/ipykernel_71130/3313080174.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  merged_fire_geo['CONT_DATE'] = pd.to_datetime(merged_fire_geo['CONT_DATE'], errors='coerce')
/Users/otaira/.pyenv/versions/3.12.2/envs/emberalert/lib/python3.12/site-packages/geopandas/array.py:365: UserWarning: Geometry is in a geographic CRS. Results from 'sjoin_nearest' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  warnings.warn(

,OBJECTID,YEAR_,STATE,AGENCY,UNIT_ID,FIRE_NAME,INC_NUM,ALARM_DATE,CONT_DATE,CAUSE,...,acq_date,satellite,instrument,frp,type,bright_t31,confidence,year,month,distance
13045,34584,2012.0,CA,CCO,KRN,COWBOY,01217096,2012-06-07,2012-06-07,14.0,...,2011-11-17,Aqua,MODIS,263.2,0,283.1,87,2011,11,0.075775
13046,34585,2012.0,CA,CCO,KRN,EDMONSTON,01218758,2012-06-22,2012-06-22,14.0,...,2012-06-03,Terra,MODIS,23.1,0,320.8,76,2012,6,0.027138
13047,34586,2012.0,CA,CCO,KRN,EMIGDIO,01219717,2012-06-29,2012-06-29,14.0,...,2012-02-22,Aqua,MODIS,9.9,0,303.2,52,2012,2,0.158773
13048,34587,2012.0,CA,CCO,KRN,GRAPEVINE,01218491,2012-06-18,2012-06-18,14.0,...,2012-06-19,Terra,MODIS,58.9,0,312.4,97,2012,6,0.000197
13049,34588,2012.0,CA,CCO,KRN,HILL,01218764,2012-06-21,2012-06-21,14.0,...,2012-03-24,Terra,MODIS,16.2,0,305.8,79,2012,3,0.100172
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21567,43190,2012.0,CA,USF,KNF,HELLO,00005659,2012-08-05,2012-10-01,1.0,...,2012-08-12,Aqua,MODIS,40.6,0,306.8,88,2012,8,0.000000
21567,43190,2012.0,CA,USF,KNF,HELLO,00005659,2012-08-05,2012-10-01,1.0,...,2012-08-14,Aqua,MODIS,6.5,0,291.0,56,2012,8,0.000000
21567,43190,2012.0,CA,USF,KNF,HELLO,00005659,2012-08-05,2012-10-01,1.0,...,2012-08-12,Terra,MODIS,16.5,0,294.5,97,2012,8,0.000000
21567,43190,2012.0,CA,USF,KNF,HELLO,00005659,2012-08-05,2012-10-01,1.0,...,2012-08-12,Aqua,MODIS,23.1,0,294.7,100,2012,8,0.000000
21567,43190,2012.0,CA,USF,KNF,HELLO,00005659,2012-08-05,2012-10-01,1.0,...,2012-08-11,Terra,MODIS,62.2,0,302.1,93,2012,8,0.000000

In [28]:
len(merged_df)

16695

In [29]:
timed_df = merged_df[
                      (merged_df['acq_date'] >= merged_df['ALARM_DATE']) &
                      (merged_df['acq_date'] <= merged_df['CONT_DATE'])]
# Print the merged DataFrame
display(timed_df)

,OBJECTID,YEAR_,STATE,AGENCY,UNIT_ID,FIRE_NAME,INC_NUM,ALARM_DATE,CONT_DATE,CAUSE,...,acq_date,satellite,instrument,frp,type,bright_t31,confidence,year,month,distance
13056,34595,2012.0,CA,CCO,KRN,LAVAL,01216604,2012-06-03,2012-06-03,14.0,...,2012-06-03,Terra,MODIS,23.1,0,320.8,76,2012,6,0.000216
13063,34602,2012.0,CA,CCO,KRN,SAND,01222306,2012-07-17,2012-07-17,14.0,...,2012-07-17,Aqua,MODIS,226.5,0,322.3,100,2012,7,0.000000
13065,34604,2012.0,CA,CCO,KRN,SOUTH,01223744,2012-07-29,2012-08-01,14.0,...,2012-07-29,Aqua,MODIS,292.7,0,322.5,100,2012,7,0.000000
17235,38813,2011.0,CA,CDF,AEU,GROOVY,00027965,2011-12-01,2011-12-01,5.0,...,2011-12-01,Terra,MODIS,11.2,0,278.8,53,2011,12,0.002170
17239,38817,2011.0,CA,USF,ANF,MINT,00004967,2011-09-17,2011-09-19,9.0,...,2011-09-17,Aqua,MODIS,249.0,0,313.9,100,2011,9,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21567,43190,2012.0,CA,USF,KNF,HELLO,00005659,2012-08-05,2012-10-01,1.0,...,2012-08-12,Aqua,MODIS,40.6,0,306.8,88,2012,8,0.000000
21567,43190,2012.0,CA,USF,KNF,HELLO,00005659,2012-08-05,2012-10-01,1.0,...,2012-08-14,Aqua,MODIS,6.5,0,291.0,56,2012,8,0.000000
21567,43190,2012.0,CA,USF,KNF,HELLO,00005659,2012-08-05,2012-10-01,1.0,...,2012-08-12,Terra,MODIS,16.5,0,294.5,97,2012,8,0.000000
21567,43190,2012.0,CA,USF,KNF,HELLO,00005659,2012-08-05,2012-10-01,1.0,...,2012-08-12,Aqua,MODIS,23.1,0,294.7,100,2012,8,0.000000
21567,43190,2012.0,CA,USF,KNF,HELLO,00005659,2012-08-05,2012-10-01,1.0,...,2012-08-11,Terra,MODIS,62.2,0,302.1,93,2012,8,0.000000

In [30]:
timed_df.columns

Index(['OBJECTID', 'YEAR_', 'STATE', 'AGENCY', 'UNIT_ID', 'FIRE_NAME',
       'INC_NUM', 'ALARM_DATE', 'CONT_DATE', 'CAUSE', 'C_METHOD', 'OBJECTIVE',
       'GIS_ACRES', 'COMMENTS', 'COMPLEX_NAME', 'COMPLEX_INCNUM', 'IRWINID',
       'FIRE_NUM', 'DECADES', 'Shape__Area', 'Shape__Length', 'COMPLEX_NA',
       'COMPLEX_IN', 'geometry', 'latitude_left', 'longitude_left',
       'index_right', 'latitude_right', 'longitude_right', 'acq_date',
       'satellite', 'instrument', 'frp', 'type', 'bright_t31', 'confidence',
       'year', 'month', 'distance'],
      dtype='object')

In [31]:
pm = pd.read_csv("./data/Daily_Census_Tract-Level_PM2.5_Concentrations__2011-2014_20240413.csv")
pm_cali = pm[pm["statefips"]== 6]
pm_cali['date_parsed'] = pd.to_datetime(pm_cali['date'], format='%d%b%Y')
pm_cali['month'] = pm_cali['date_parsed'].dt.month
pm_cali.head()

/var/folders/bb/bc8ww5jx0kgdhn7fznlq1nqc0000gn/T/ipykernel_71130/3587920976.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pm_cali['date_parsed'] = pd.to_datetime(pm_cali['date'], format='%d%b%Y')
/var/folders/bb/bc8ww5jx0kgdhn7fznlq1nqc0000gn/T/ipykernel_71130/3587920976.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pm_cali['month'] = pm_cali['date_parsed'].dt.month

,year,date,statefips,countyfips,ctfips,latitude,longitude,ds_pm_pred,ds_pm_stdd,date_parsed,month
10645,2011,31DEC2011,6,6001,6001400100,37.86754,-122.23181,8.143539,4.009139,2011-12-31,12
10646,2011,31DEC2011,6,6001,6001400200,37.84817,-122.24948,8.116514,3.971881,2011-12-31,12
10647,2011,31DEC2011,6,6001,6001400300,37.84056,-122.25442,8.083649,3.933703,2011-12-31,12
10648,2011,31DEC2011,6,6001,6001400400,37.84801,-122.25752,8.180107,4.215300,2011-12-31,12
10649,2011,31DEC2011,6,6001,6001400500,37.84853,-122.26480,8.125882,4.103174,2011-12-31,12

In [32]:
len(pm_cali)

11746440

In [33]:
pm_cali.columns

Index(['year', 'date', 'statefips', 'countyfips', 'ctfips', 'latitude',
       'longitude', 'ds_pm_pred', 'ds_pm_stdd', 'date_parsed', 'month'],
      dtype='object')

In [34]:
pm25_geo = gpd.GeoDataFrame(pm_cali, geometry=gpd.points_from_xy(pm_cali['longitude'], pm_cali['latitude']))

pm25_geo.crs = {'init': 'epsg:4326'}
pm25_geo = pm25_geo.rename(columns={'index_left': 'index_left_pm25', 'index_right': 'index_right_pm25'})

timed_df = timed_df.rename(columns={'index_left': 'index_left_fire', 'index_right': 'index_right_fire'})

/Users/otaira/.pyenv/versions/3.12.2/envs/emberalert/lib/python3.12/site-packages/pyproj/crs/crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

In [35]:
pm25_geo

,year,date,statefips,countyfips,ctfips,latitude,longitude,ds_pm_pred,ds_pm_stdd,date_parsed,month,geometry
10645,2011,31DEC2011,6,6001,6001400100,37.86754,-122.23181,8.143539,4.009139,2011-12-31,12,POINT (-122.23181 37.86754)
10646,2011,31DEC2011,6,6001,6001400200,37.84817,-122.24948,8.116514,3.971881,2011-12-31,12,POINT (-122.24948 37.84817)
10647,2011,31DEC2011,6,6001,6001400300,37.84056,-122.25442,8.083649,3.933703,2011-12-31,12,POINT (-122.25442 37.84056)
10648,2011,31DEC2011,6,6001,6001400400,37.84801,-122.25752,8.180107,4.215300,2011-12-31,12,POINT (-122.25752 37.84801)
10649,2011,31DEC2011,6,6001,6001400500,37.84853,-122.26480,8.125882,4.103174,2011-12-31,12,POINT (-122.26480 37.84853)
...,...,...,...,...,...,...,...,...,...,...,...,...
105551860,2011,30DEC2011,6,6115,6115040800,39.03911,-121.43245,15.105626,5.095760,2011-12-30,12,POINT (-121.43245 39.03911)
105551861,2011,30DEC2011,6,6115,6115040901,39.14548,-121.40275,13.452446,4.664280,2011-12-30,12,POINT (-121.40275 39.14548)
105551862,2011,30DEC2011,6,6115,6115040902,39.12297,-121.39185,13.761356,5.036964,2011-12-30,12,POINT (-121.39185 39.12297)
105551863,2011,30DEC2011,6,6115,6115041000,39.26758,-121.44107,12.725073,4.810918,2011-12-30,12,POINT (-121.44107 39.26758)
105551864,2011,30DEC2011,6,6115,6115041100,39.44923,-121.17973,8.983336,4.975591,2011-12-30,12,POINT (-121.17973 39.44923)

In [41]:
import geopandas as gpd
from shapely.geometry import Point
from scipy.spatial import cKDTree

def find_nearest_pm25(fire_row, pm25_geo, max_distance, max_time_diff):
    fire_date = fire_row['acq_date']
    fire_point = Point(fire_row['longitude_left'], fire_row['latitude_left'])

    # Filter PM2.5 data points within the time range
    mask = (pm25_geo['date_parsed'] >= fire_date - pd.Timedelta(days=max_time_diff)) & \
           (pm25_geo['date_parsed'] <= fire_date + pd.Timedelta(days=max_time_diff))
    pm25_filtered = pm25_geo.loc[mask]

    if len(pm25_filtered) == 0:
        return None

    # Create a KD-tree for efficient nearest neighbor search
    pm25_tree = cKDTree(list(zip(pm25_filtered.geometry.x, pm25_filtered.geometry.y)))

    # Find the nearest PM2.5 data point within the maximum distance
    _, idx = pm25_tree.query((fire_point.x, fire_point.y), k=1, distance_upper_bound=max_distance)

    if idx == len(pm25_filtered):
        return None

    nearest_pm25 = pm25_filtered.iloc[idx]
    return nearest_pm25

In [42]:
# Convert the wildfire dataset to a GeoDataFrame
timed_geo = gpd.GeoDataFrame(timed_df, geometry=gpd.points_from_xy(timed_df['longitude_left'], timed_df['latitude_left']))
timed_geo.crs = {'init': 'epsg:4326'}

# Convert the PM2.5 dataset to a GeoDataFrame
pm25_geo = gpd.GeoDataFrame(pm25_geo, geometry='geometry')
pm25_geo.crs = {'init': 'epsg:4326'}

# Set the maximum distance (in degrees) and time difference (in days) for matching
max_distance = 0.5
max_time_diff = 1

# Find the nearest PM2.5 data point for each wildfire
timed_geo['nearest_pm25'] = timed_geo.apply(lambda row: find_nearest_pm25(row, pm25_geo, max_distance, max_time_diff), axis=1)

/Users/otaira/.pyenv/versions/3.12.2/envs/emberalert/lib/python3.12/site-packages/pyproj/crs/crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

In [ ]:
# Merge the wildfire dataset with the nearest PM2.5 data points
merged_data = pd.concat([timed_geo.drop(columns=['geometry']), timed_geo['nearest_pm25'].apply(pd.Series)], axis=1)

print(merged_data)